<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reporte de mascotas</title>
</head>
<body>
<h1>Reporte general</h1>
<p>Completa la Pregunta 6 obteniendo los siguientes valores mediante consultas personalizadas:</p>
<ul>
    <li>Edad máxima</li>
    <li>Edad mínima</li>
    <li>Edad promedio</li>
    <li>Cantidad total de mascotas</li>
</ul>
<!-- TODO P6: agregar th:text para los atributos enviados desde el controlador. -->
<a th:href="@{/mascotas}">Volver</a>
</body>
</html>
